

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
    <div class="text-center">
        You are Logging as:
        <a class="btn btn-dark" asp-controller="Admin" asp-action="Admin" >Admin</a>
        <a class="btn btn-dark" asp-controller="User" asp-action="UserLogin">User</a>
    </div>

