@model EAD_Assignment3_BlogApplication.Models.Posts

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div>

        <p>@Model.Name</p>
        <p>@Model.Title</p>
        <p>@Model.Post</p>
    </div>